<mat-sidenav-container>
  <mat-sidenav-content role="region">
    <div class="matero-row" fxLayout="row wrap">
      <div class="matero-col" fxFlex.gt-sm="20" fxFlex.gt-xs="50" fxFlex="100" *ngFor="let stat of messageStats">
        <mat-card [ngClass]="['text-white', stat.color]" style="padding: 12px 15px 12px 15px;">
          <mat-card-title style="margin-bottom: 0px;" class="f-s-16 f-w-500">{{stat.title}}</mat-card-title>
          <mat-card-content style="margin-bottom: 0px;">
            <h2 style="margin-bottom: 0px;">{{stat.amount}}</h2>
            <mtx-progress [value]="100" height="2px" foreground="rgba(255,255,255,1)" background="rgba(0,0,0,.5)">
            </mtx-progress>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="matero-row" fxLayout="row wrap">
        <div class="matero-col" fxFlex="100" fxFlex.gt-sm="100">
          <p-table id='messagesTables' #messagesTables [columns]="cols" selectionMode="single" dataKey="messageId"
            [value]="this.messagesSrv.messages" [paginator]="true" [rows]="18" sortField="messageId" [sortOrder]="-1"
            [resizableColumns]="true" class="table">
            <ng-template pTemplate="caption" *ngIf="headerSrv.options.menu === 'ver'">
              Messages
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr class="table-th-tr">
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn colspan="col.colspan"
                  [ngStyle]="{'width': col.width}">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
              <tr class="table-th-tr-fltr">
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input #messageId *ngSwitchCase="'messageId'" pInputText type="text" placeholder="Message ID"
                    class="ui-column-filter" style="width: 80%;"
                    (input)="messagesTables.filter($event.target.value, col.field, 'startsWith')" />

                  <p-dropdown *ngSwitchCase="'messageStatus'" placeholder="ALL" [options]="messagesSrv.msgStatuses"
                    appendTo="body" [style]="{'width':'100%'}"
                    (onChange)="messagesTables.filter($event.value, col.field, 'contains')"></p-dropdown>

                    <input #messageId *ngSwitchCase="'createdByServerId'" pInputText type="text" placeholder="Server ID"
                    class="ui-column-filter" style="width: 80%;"
                    (input)="messagesTables.filter($event.target.value, col.field, 'startsWith')" />

                  <p-dropdown *ngSwitchCase="'invokeCompType'" placeholder="ALL" [options]="messagesSrv.invocationType"
                    appendTo="body" [style]="{'width':'100%'}"
                    (onChange)="messagesTables.filter($event.value, col.field, 'contains')"></p-dropdown>

                  <p-dropdown *ngSwitchCase="'bpName'" placeholder="ALL" [options]="messagesSrv.bpList" appendTo="body"
                    [style]="{'width':'100%'}" (onChange)="messagesTables.filter($event.value, col.field, 'contains')">
                  </p-dropdown>

                  <p-dropdown *ngSwitchCase="'flowName'" placeholder="ALL" [options]="messagesSrv.flowList"
                    appendTo="body" [style]="{'width':'100%'}"
                    (onChange)="messagesTables.filter($event.value, col.field, 'contains')"></p-dropdown>

                  <input #messageId *ngSwitchCase="'workerId'" pInputText type="text" placeholder="Worker ID"
                    class="ui-column-filter" style="width: 80%;"
                    (input)="messagesTables.filter($event.target.value, col.field, 'startsWith')" />
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-message let-columns="columns">
              <tr [pSelectableRow]="message">
                <td *ngFor="let col of columns" [ngStyle]="{'width': col.width}" (contextmenu)="onRightClick(message[col.field])">
                  {{message[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="options.dir === 'ltr'" class="customizer-handle" matTooltip="You can change my location" cdkDrag
  (cdkDragStarted)="handleDragStart($event)">
  <button mat-icon-button class="sidemenu-mat-icon-button" (click)="openPanel($event)">
    <img src="assets/images/activity-settings.png" width="30px" />
  </button>
</div>

<div id="context-menu">
  <div class="item" (click)="ViewActivityLog()">
    View Activity
  </div> 
  <hr>
  <div class="item" (click)="refresh()">
    Refresh
  </div>
  <div class="item" (click)="exportexcel()">
    Export Table to Excel
  </div>
  <div class="item" (click)="exportPDF()">
     Export Table to PDF
  </div>
  <div class="item" (click)="exportPNG()">
    Export Table to png
  </div>
  <div class="item" (click)="copy_cell_value()">
    Copy Cell Value
  </div>
  <div class="item">
     Logout
  </div>
</div>

