body .ui-table .ui-table-caption {
  color:#0083B0 !important;
}
.ui-table {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #c8c8c8;
    > * {
      flex: 0 0 auto;
    }

    > .ui-table-scrollable-wrapper {
      flex: 1 1 auto;
      overflow: hidden;

      > .ui-table-scrollable-view {
        height: 100%;
        display: flex;
        flex-direction: column;

        > .ui-table-scrollable-header {
          flex: 0 0 auto;
        }

        > .ui-table-scrollable-body {
          flex: 1 1 auto;
        }
      }
    }
  }

  //summary tab css

body .ui-table .ui-table-caption {
  color:#0083B0 !important;
}
.mat-expansion-panel-header {
 // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.mat-card {
//  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px !important;
  margin-bottom: 5px !important;
  padding: 12px !important;
}
.list-summary{
  list-style: none;

  &li span{
      float: right;
  }
}
.list-summary li{
  padding: 5px;
  span{
      float: right;
      margin-left: 25px;
  }
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
  height: auto;
}

.matero-row{
  margin-left: 0px;
  margin-right: 0px;
}

.serverstatusgraph{
  height: 364px;
  width: 390px;
  background-image: url('/assets/images/graph_witharrow.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.server-start{
  position: absolute;
  margin-left: 126px;
  // -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
  margin-top: 17px;
}

.invocation-date{
  position: absolute;
  margin-left: 238px;
  // -webkit-transform: rotate(113deg);
  transform: rotate(297deg);
  margin-top: 250px;
  width: 194px;
  text-align: right;
}

.worker-date{
  position: absolute;
  margin-left: -31px;
  // -webkit-transform: rotate(242deg);
  transform: rotate(422deg);
  margin-top: 246px;
}
.matero-row{
  min-width: 410px;
}
.f-s-16 {
  font-size: 13px !important;
}
.f-w-500 {
  font-weight: 100 !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 38px;
}

.slider.round:before {
  border-radius: 50%;
}


body {
  margin:0px;
  font-family:"Open Sans",sans-serif;
}
#context-menu {
  position:fixed;
  z-index:100;
  width:135px;
  background:rgb(238, 229, 229);
  border-radius:5px;
  transform:scale(0);
  transform-origin:top left; 
}
#context-menu.active {
  transform:scale(1);
  transition:transform 300ms ease-in-out;
}
#context-menu .item {
  padding:8px 10px;
  font-size:12.5px;
  color:black;
}
#context-menu .item:hover {
  background:#555;
  color:whitesmoke;
}
#context-menu .item i {
  display:inline-block;
  margin-right:5px;
}
#context-menu hr {
  margin:2px 0px;
  border-color:#555;
}