body .ui-table .ui-table-caption {
  color:#0083B0 !important;
}

.ui-table {
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid #c8c8c8;
    > * {
      flex: 0 0 auto;
    }

    > .ui-table-scrollable-wrapper {
      flex: 1 1 auto;
      overflow: hidden;

      > .ui-table-scrollable-view {
        height: 100%;
        display: flex;
        flex-direction: column;

        > .ui-table-scrollable-header {
          flex: 0 0 auto;
        }

        > .ui-table-scrollable-body {
          flex: 1 1 auto;
        }
      }
    }
  }

body {
  margin:0px;
  font-family:"Open Sans",sans-serif;
}
#context-menu {
  position:fixed;
  z-index:100;
  width:135px;
  background:rgb(238, 229, 229);
  border-radius:5px;
  transform:scale(0);
  transform-origin:top left; 
}
#context-menu.active {
  transform:scale(1);
  transition:transform 300ms ease-in-out;
}
#context-menu .item {
  padding:8px 10px;
  font-size:12.5px;
  color:black;
}
#context-menu .item:hover {
  background:#555;
  color:whitesmoke;
}
#context-menu .item i {
  display:inline-block;
  margin-right:5px;
}
#context-menu hr {
  margin:2px 0px;
  border-color:#555;
}