

body .ui-table .ui-table-caption {
    color:#0083B0 !important;
}
.mat-expansion-panel-header {
   // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.mat-card {
  //  font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px !important;
    margin-bottom: 5px !important;
    padding: 12px !important;
}
.list-summary{
    list-style: none;

    &li span{
        float: right;
    }
}
.list-summary li{
    padding: 5px;
    span{
        float: right;
        margin-left: 25px;
    }
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: auto;
}

.matero-row{
    margin-left: 0px;
    margin-right: 0px;
}

.serverstatusgraph{
    height: 364px;
    width: 390px;
    background-image: url('/assets/images/graph_witharrow.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.server-start{
    position: absolute;
    margin-left: 126px;
    // -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    margin-top: 17px;
}

.invocation-date{
    position: absolute;
    margin-left: 238px;
    // -webkit-transform: rotate(113deg);
    transform: rotate(297deg);
    margin-top: 250px;
    width: 194px;
    text-align: right;
}

.worker-date{
    position: absolute;
    margin-left: -31px;
    // -webkit-transform: rotate(242deg);
    transform: rotate(422deg);
    margin-top: 246px;
}
.matero-row{
    min-width: 410px;
}
.f-s-16 {
    font-size: 13px !important;
}
.f-w-500 {
    font-weight: 100 !important;
}


.tp-wrapper {
  -webkit-perspective: 900px;
  perspective: 900px;
}

.tp-box {
  position: relative;
  height: 275px;
  margin: 0.5rem auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 0.5s;
  -ms-transform: transform 0.5s;
  transform: transform 0.5s;
}
.tp-box__side {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tp-box__front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.tp-box__back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}



.highcharts-figure, .highcharts-data-table table {
    min-width: 320px; 
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}



body {
    font-family: "Roboto", "Arial","san-serif";
   // margin:0;
  }
  
  .center{
    text-align: center;
  }
  .menu {
    width: 200px;
    z-index: 1;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: none;
    transition: 0.2s display ease-in;
  
    .menu-options {
      list-style: none;
      padding: 0 0;
      z-index: 1;
      
      .menu-option {
        font-weight: 700;
        z-index: 1;
        font-size: 14px;
        padding: 0px 0px 0px 20px;
         border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
  
        &:hover {
          background:  rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  
  
  button{
    background:white;
    border: black;
    
    .next{
      color:black;
    }
    
    &[disabled="false"]:hover{
      .next{
        color: red;
        animation: move 0.5s;
        animation-iteration-count: 2;
      }
    }
  }
  
  @keyframes move{
    from{
      transform: translate(0%);
    }
    50%{
      transform: translate(-40%);
    }
    to{
      transform: transform(0%);
    }
  }  

body {
    margin:0px;
    font-family:"Open Sans",sans-serif;
  }
#context-menu {
    position:fixed;
    z-index:100;
    width:135px;
    background:rgb(238, 229, 229);
    border-radius:5px;
    transform:scale(0);
    transform-origin:top left; 
  }
#context-menu.active {
    transform:scale(1);
    transition:transform 300ms ease-in-out;
  }
#context-menu .item {
    padding:8px 10px;
    font-size:12.5px;
    color:black;
  }
#context-menu .item:hover {
    background:#555;
    color:whitesmoke;
  }
#context-menu .item i {
    display:inline-block;
    margin-right:5px;
  }
#context-menu hr {
    margin:2px 0px;
    border-color:#555;
  }
  

// .target {
//     border-radius: 5px;
//     height: 500px;
//     width: 400px;
//     background-color: #f6f6f6;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26),
//       0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.08);
//   }
//   .placeholder {
//     font-size: 20px;
//     color: #656565;
//     margin: 0;
//   }
  
  
