
<mat-sidenav-container>

   <mat-sidenav-content role="region">
  
       
   <div class="matero-row" fxLayout="row wrap">
    <div class="matero-col" fxFlex.gt-sm="20" fxFlex.gt-xs="50" fxFlex="100" *ngFor="let stat of stats">
      <mat-card [ngClass]="['text-white', stat.color]" style="padding:12px 15px 12px 15px;">
        <mat-card-title style="margin-bottom: 0px" class="f-s-16 f-w-500">{{stat.title}}</mat-card-title>
        <mat-card-content style="margin-bottom: 0;">
          <h2 style="margin-bottom: 0px;">{{stat.amount}}</h2>
          <mtx-progress [value]="stat.progress.value" height="2px" foreground="rgba(255,255,255,1)"
            background='rgba(0,0,0,.5)'>
          </mtx-progress>
        </mat-card-content>
      </mat-card>
    </div>
   </div>  



  </mat-sidenav-content>
</mat-sidenav-container> 




<mat-sidenav-container>

  <mat-sidenav-content role="region">



    <div class="matero-col" fxFlex="100" fxFlex.gt-sm="100">
    <p-table id='dt' #dt [columns]="serverColumns" [resizableColumns]="true" selectionMode="single" dataKey="serverId"
      [value]="servers" [paginator]="true" [rows]="15" expandableRows="true" rowExpandMode="multiple" class="table">

      <ng-template pTemplate="caption" *ngIf="headerSrv.options.menu === 'ver'">
        Servers
      </ng-template>

      <!-- Parent Table Data -->

      <ng-template pTemplate="header" let-columns>
        <tr class="table-th-tr">
          <th></th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn colspan="col.colspan"
            [ngStyle]="{'width': col.width}">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
        <tr class="table-th-tr-fltr">
          <th></th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">

            <p-dropdown *ngSwitchCase="'primaryHost'" placeholder="ALL" [options]="hostList" appendTo="body"
              [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'contains')"></p-dropdown>
            <p-dropdown *ngSwitchCase="'status'" placeholder="ALL" [options]="statusList" appendTo="body"
              [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'contains')"></p-dropdown>
            <p-dropdown *ngSwitchCase="'licenseFeature'" placeholder="ALL" [options]="licenseFeatureList"
              appendTo="body" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'contains')">
            </p-dropdown>

          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-serversData let-expanded="expanded" let-columns="columns">
        <tr [pSelectableRow]="serversData">
          <td>
            <a href="#" [pRowToggler]="serversData" (click)="getWorkerDataByProjectKey(serversData)">
              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
          </td>
          <td *ngFor="let col of columns" [ngStyle]="{'width': col.width}"
          (contextmenu)="onRightClick(serversData,serversData[col.field])">
            {{serversData[col.field]}}
          </td>
        </tr>
      </ng-template>

      <!-- Child Table Data-->

      <ng-template pTemplate="rowexpansion" let-serversData dataKey="workerId">
        <tr>
          <td [attr.colspan]="13" [attr.rowspan]="1" style="padding-left: 67px !important;">
            <p-table #dt1 [columns]="workerColumns" selectionMode="single" dataKey="workerId" [value]="workers">
              <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn colspan="col.colspan"
            [ngStyle]="{'width': col.width}">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
        <tr class="table-th-tr-fltr">
          <th *ngFor="let col of columns" [ngSwitch]="col.field">

            <input *ngSwitchCase="'workerId'" pInputText type="text" placeholder="Starts with" class="ui-column-filter"
              style="width: 80%;" (input)="dt1.filter($event.target.value, col.field, 'startsWith')">

            <input *ngSwitchCase="'statusSTR'" pInputText type="text" placeholder="Starts with" class="ui-column-filter"
              style="width: 80%;" (input)="dt1.filter($event.target.value, col.field, 'startsWith')">

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-workersData let-columns="columns">
        <tr [pSelectableRow]="workersData" *ngIf="serversData.serverId === workersData.serverId">
          <td *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
            <div *ngIf="col.subfield;then flowruntimetreedata else workersdata"></div>
            <ng-template #flowruntimetreedata>
              <ng-container *ngIf="col.subfield === 'stepName'">{{getFlowWorkerStep(workersData,col)}}</ng-container>
            </ng-template>
            <ng-template #workersdata>
              {{workersData[col.field]}}
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>
    </td>
    </tr>
    </ng-template>

    </p-table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="options.dir === 'ltr'" class="customizer-handle" matTooltip="You can change my location" cdkDrag
  (cdkDragStarted)="handleDragStart($event)">
  <button mat-icon-button class="sidemenu-mat-icon-button" (click)="openPanel($event)">
    <img src="assets/images/activity-settings.png" width="30px" />
  </button>
</div>


<div id="context-menu">
  <div class="item" *ngIf= "flag" (click)="onShutdown()">
    Shutdown
  </div>
  <div class="item" *ngIf= "!flag" (click)="Onstart()">
    Start
  </div>
  <div class="item" *ngIf= "!flag" (click)="onclearentry()">
    Clear entry
  </div>
  <div class="item" (click)="onCreate()">
    Run new instance
  </div>
  <div class="item" (click)="onCreate()">
    Add Server  </div>
  <div class="item" (click)="OnRefreshLicense()">
      Refresh License</div>
  <hr>
  <div class="item" (click)="refresh()">
    Refresh
  </div>   
  <div class="item" (click)="exportexcel()">
    Export Table to Excel
  </div>
  <div class="item" (click)="exportPDF()">
     Export Table to PDF
  </div>
  <div class="item" (click)="exportPNG()">
    Export Table to png
  </div>
  <div class="item" (click)="copy_cell_value()">
    Copy Cell Value
  </div>
  <div class="item">
     Logout
  </div>
</div>


<!-- 
<div class="container">  
  <input type="button" value="Export PDF" class="btn btn-success" (click)="SavePDF()">  
  <br/><br/>  
  <div class="container" id="content" #content>  
      <table class="table table-dark">  
          <tr>  
              <th>Id</th>  
              <th>Host</th>  
              <th>ProcessID</th>  
              <th>Load Schedulers</th>  
              <th>Load Triggers</th>  
              <th>Workers</th>  
              <th>Started At</th>  
          </tr>  
          <tr *ngFor="let item of serverColumns">  
              <th>{{item.Id}}</th>  
              <th>{{item.Host}}</th>  
              <th>{{item.ProcessID}}</th>  
              <th>{{item.Load Triggers}}</th>  
              <th>{{item.Workers}}</th>  
              <th>{{item.Started At}}</th>  
          </tr>  
      </table>  
  </div>  
</div>  -->
