<mat-sidenav-container>
    <mat-sidenav-content role="region">
        <div style="height:175px !important;">
            <p-table #projectAlerts [columns]="topcols" [resizableColumns]="true" [autoLayout]="true" [scrollable]="true" [value]="alertData" [paginator]="false" class="table">
                <ng-template pTemplate="header" let-columns>
                    <tr class="table-th-tr">
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                            {{col.header}}
                            <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{user[col.field]}}
                        </td>
                    </tr>
                    
                </ng-template>
            </p-table>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>